@media screen and (max-width: 700px) {
    section#login {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-inline: 15px;
    }

    form {
        margin: 0;
    }
}