<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>magicalinternetpoints - about</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1><a href="/" class="home-link">magical<span class="bolder">internet</span>points</a></h1>
        </header>
        <section id="about">
            <p>So what actually is, or <em>are</em>, <strong>magicalinternetpoints</strong>?</p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi rem eum modi. Veniam quibusdam dolores harum, asperiores quidem natus, repellat dolorum fugit, neque tenetur iste a qui ipsa alias labore!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores harum quam molestias aut aliquid a, at delectus quod, nulla ut unde saepe eligendi itaque iure sunt corporis perspiciatis fugiat expedita.
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid doloremque nulla quos incidunt eligendi sed eius sunt est, ea eos officia asperiores sapiente illo quibusdam quidem a enim ullam facilis.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsum aliquam commodi ab, repellendus in explicabo dolores. Nam ipsam illum similique voluptate quae commodi, cupiditate quisquam, eveniet rerum voluptates velit.
            </p>
            <p>
                - <a href="https://zacgarby.co.uk">zac</a>
            </p>
        </section>
        {{ template "footer" . }} 
    </div>
</body>
</html>