<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>magicalinternetpoints - auth via bio</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/bio-auth.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1><a href="/" class="home-link">magical<span class="bolder">internet</span>points</a></h1>
            <h1 class="points-total">{{ .Total }}⟐</h1>
        </header>
        <section>
            <h1>link your <a href="{{ .Site.URL }}">{{ .Site.Title }}</a> account</h1>

            {{ if eq .Username "" }}
                <p>
                    the site you've chosen to connect to <b>magicalinternetpoints</b> doesn't
                    support fancy authentication techniques like OAuth.
                </p>
                <p>
                    as a result, you're going to have to manually authenticate by putting a piece
                    of text in your profile's {{ .Bio.BioLanguage }} section. first off, what's your {{ .Site.Title }}
                    {{ .Bio.UsernameLanguage }}?
                </p>
                {{ if .Bio.ExtraUsernameInstructions }}
                <p>{{ .Bio.ExtraUsernameInstructions }}</p>
                {{ end }}
                <form action="">
                    <label for="username">your username:</label>
                    <input type="text" placeholder="username..." name="username">
                    <input type="submit" value="I'm done!">
                </form>
            {{ else }}
                <p>
                    your {{ .Bio.UsernameLanguage }} is: <b>{{ .Username }}</b>, which means your profile can be
                    found at: <a href="{{ .ProfileURL }}" target="_blank">{{ .ProfileURL }}</a>. it might be
                    worth trying this link quickly -- if it doesn't seem right, you may have
                    got your {{ .Bio.UsernameLanguage }} wrong (<a href="/auth/bio/{{ .Site.Title }}">try again?</a>).
                </p>
                <p>
                    if this looks right to you, go ahead and update your {{ .Bio.BioLanguage }} to include the
                    following text:
                </p>
                <pre class="verify-text">{{ .VerifyText }}</pre>
                <p>
                    this can go wherever you like in your {{ .Bio.BioLanguage }}, it doesn't matter. also, it only
                    needs to be there for a minute while we authenticate you, then you can get
                    rid of it again!
                </p>
                {{ if .Bio.ExtraVerifyInstructions }}
                <p>{{ .Bio.ExtraVerifyInstructions }}</p>
                {{ end }}
                <ul class="links">
                    <li><a href="/auth/bio/complete/{{ .Site.Title }}/{{ .Username }}">I'm done, please authenticate me!</a></li>
                    <li><a href="/auth/bio/{{ .Site.Title }}">I got my username wrong</a></li>
                </ul>
            {{ end }}
        </section>
        {{ template "footer" . }} 
    </div>
</body>
</html>