<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>magicalinternetpoints</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1><a href="/" class="home-link">magical<span class="bolder">internet</span>points</a></h1>
            <h1 class="points-total">3,626⟐</h1>
        </header>
        <section id="home">
            <div class="main-text">
                <p>hello <strong id="username">{{.User.Username}}</strong>!</p>
                <p>
                    you currently have <span class="bolder red">3,626⟐</span> magical internet points, which means absolutely nothing but well done you :)
                </p>
                <ul class="links">
                    <li><a href="/logout">log out</a></li>
                    <li><a href="#">badge</a></li>
                    <li><a href="#">exchange rates</a></li>
                </ul>
                <p>
                    your point totals for each site are shown to the right, along with how they're derived from site-specific scores.
                </p>
                <ul class="links">
                    <li><a href="/about">ok but what is this?</a></li>
                    <li><a href="https://github.com/zac-garby/magicalinternetpoints">view source</a></li>
                </ul>
            </div>
            <div class="sites">
                {{ range .Sources }}
                <div class="site">
                    <div class="specifics">
                        <span class="name">
                            <a href="{{ .Account.ProfileURL }}" target="_blank">{{ .Account.Site.Title }}</a>
                            <a href="/update/{{ .Account.Site.Title }}" class="update">(update)</a>
                        </span>
                        <span class="username">{{ .Account.Username }}</span>
                        <table class="sources">
                        {{ range .Points }}
                            <tr class="source" title="{{ .Source.Description }}">
                                <td class="source-raw">{{ .Raw }}</td>
                                <td class="source-name">{{ .Source.Name }}</td>
                                <td class="source-mapsto">-></td>
                                <td class="source-points">?</td>
                            </tr>
                        {{ else }}
                            <tr class="source" title="no point sources for this site. either they haven't been scraped yet, or something else is going on">
                                <td></td>
                                <td class="source-name">no sources</td>
                            </tr>
                        {{ end }}
                        </table>
                    </div>
                    <span class="point-subtotal bolder red">?⟐</span>
                </div>
                {{ else }}
                <div class="no-sources">
                    <p>
                        currently, you have not integrated with any sites!
                    </p>
                    <p>
                        as a result, you have NO magical internet points. you should <a href="#">maybe do that</a>...
                    </p>
                    <p>
                        in the meantime, feel free to browse the rest of this site (which will probably be fruitless until you add a point source).
                    </p>
                </div>
                {{ end }}
            </div>
        </section>
        <p id="error"></p>
    </div>
</body>
</html>