div.sites {
    height: 500px;
    overflow-y: auto;
}

div.site {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

div.site:first-child {
    padding-top: 0;
}

div.specifics {
    display: flex;
    flex-direction: column;
}

div.specifics span.name {
    font-weight: bolder;
}

div.specifics span.description, div.specifics span.username {
    color: #777;
    font-size: 10pt;
}

div.specifics span.description {
    font-size: 10pt;
    font-style: italic;
}

div.specifics span.description::before {
    content: "(";
}

div.specifics span.description::after {
    content: ")";
}

tr.source td {
    font-size: 10pt;
    padding-right: 5px;
}

td.source-raw, td.source-points {
    font-weight: bold;
}

td.source-raw {
    text-align: right;
}

td.source-points::after {
    content: "⟐";
}

a.update {
    font-size: 10pt;
    color: #121111;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-weight: normal;
}