div.sites {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.site {
    margin-bottom: 15px;
}

div.site:first-child {
    padding-top: 0;
}

div.specifics {
    display: flex;
    flex-direction: column;
}

div.site-name span.name {
    font-weight: bolder;
}

div.site-name {
    display: grid;
    grid-template-columns: auto auto;
}

span.point-subtotal {
    columns: -1;
    text-align: right;
}

div.username {
    color: #777;
    font-size: 10pt;
    margin-bottom: 5px;
}

div.source-row {
    font-size: 10pt;
    display: grid;
    grid-template-columns: 50px auto 20px 100px;
    gap: 5px;
}

span.source-raw, span.source-points {
    font-weight: bold;
}

span.source-raw {
    text-align: right;
}

span.source-points {
    text-align: right;
}

span.source-points::after {
    content: "⟐";
}

div.no-sources-row {
    font-size: 10pt;
    color: #777;
}

a.update {
    font-size: 10pt;
    color: #121111;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-weight: normal;
}

div.no-sources {
    font-size: 10pt;
    color: #777;
}