section#login {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    padding: 0;
    padding-top: 10px;
}

form {
    display: grid;
    grid-template-columns: 35% auto;
    row-gap: 5px;
    padding: 15px;
    background-color: rgb(236, 228, 213);
}

form input[type=submit] {
    margin-top: 15px;
    padding: 5px;
    grid-column-start: 2;
    font-size: 13pt;
    background-color: #88251e;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

form input[type=submit]:active {
    background-color: #6d1c17;
}

form input[type=text], form input[type=email], form input[type=password] {
    border: none;
}

label {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

section#login h2 {
    margin-top: 0;
    grid-column: 2;
}