html, body {
    background-color: rgb(235, 218, 196);
    color: #301d16;
}

* {
    box-sizing: border-box;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

div.wrapper {
    width: 700px;
    margin: auto;
    margin-top: 100px;
    left: 0;
    right: 0;
}

header {
    height: 80px;
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #720a2b;
}

header h1 {
    margin: 0;
}

h1:first-child {
    margin-top: 0;
}

header h1.points-total {
    color: #5f3309;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
}

section, footer {
    padding: 20px;
}

section#home, section#welcome {
    display: grid;
    grid-template-columns: 50% auto;
    column-gap: 20px;
}

ul.links {
    list-style: none;
    padding-left: 10px;
}

ul.links li::before {
    content: ">";
    color: #8e1038;
    font-weight: bolder;
    margin-right: 10px;
}

p:first-child {
    margin-top: 0;
}

span.bolder {
    font-weight: bolder;
}

span.red {
    color: #8e1038;
}

a {
    color: #8e1038;
    font-style: italic;
}

a.home-link {
    color: #5f3309;
    font-style: normal;
    text-decoration: none;
}

p#error {
    color: #8e1038;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
}

div.eg {
    padding: 10px;
    margin-left: 15px;
    background-color: rgb(215, 198, 176);
}

div.eg > *:first-child::before {
    content: "e.g.";
    font-weight: bold;
}

form {
    background-color: antiquewhite;
    padding: 15px;
    width: 400px;
    margin: 30px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    font-style: italic;
}

form input[type=text] {
    padding: 2px;
    font-size: 1rem;
}

form input[type=submit] {
    border: none;
    background-color: none;
    background: none;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    color: #8e1038;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    text-decoration: underline;
}

footer, footer * {
    font-size: 0.7rem;
    color: rgb(171, 156, 134);
}