html, body {
    background-color: #f0f0f0;
    color: #0f0f0f;
}

* {
    box-sizing: border-box;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

div.wrapper {
    width: 700px;
    margin: auto;
    margin-top: 100px;
    left: 0;
    right: 0;
}

header {
    background-color: rgb(235, 218, 196);
    height: 80px;
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #720a2b;
}

header h1 {
    margin: 0;
}

header h1.points-total {
    color: #5f3309;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
}

section {
    padding: 20px;
}

ul.links {
    list-style: none;
    padding-left: 10px;
}

ul.links li::before {
    content: ">";
    color: #8e1038;
    font-weight: bolder;
    margin-right: 10px;
}

p:first-child {
    margin-top: 0;
}

span.bolder {
    font-weight: bolder;
}

span.red {
    color: #8e1038;
}

a {
    color: #8e1038;
    font-style: italic;
}

a.home-link {
    color: #5f3309;
    font-style: normal;
    text-decoration: none;
}

p#error {
    color: #8e1038;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
}